fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
langchain
langchain-community
psycopg2-binary
pgvector
ollama
pypdf
sentence-transformers
streamlit
pdfplumber
langchain-text-splitters
peewee
python-multipart
httpx